* {
    font-family: sans-serif;
}

body {
    background-color: #fafafa;
}


header {
    background-color: var(--headerbg);
    color: var(--lighttext);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}


nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    display:inline-block;
}

nav ul li a {
    display:inline-block;
    color: var(--lighttext);
    text-decoration: none;
    font-size: 1rem;
    height:4rem;
    line-height: 4rem;
    padding: 0 1rem 0 1rem;
    box-sizing: border-box;
}

nav ul li a:hover {
    border-bottom: 0.5rem solid purple;
}


#projectContainer {

}

.project {
    display: flex;
    gap: 1rem;
    background-color: white;
    max-width: 800px;
    margin: 0 auto 1rem auto;
    padding: 1rem;
}

.project img {
    width: 100%;
    object-fit: cover;
}

.projectLinks {
    padding-top: 1rem;
    display: flex;
    gap: 2rem;
}